*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family:'Oswald', sans-serif ;
    background-color: #dfe0dfa1;
}

.content-width{
    width:80%;
    max-width:80%;
    margin:0 auto;
}

.pad{
    padding:1.5em 0 0 0;
}

.ul__list{
    padding: 0%;
 }

 .section__img{
     width:100%;
     max-width: 500px;
     border-radius: 1em;
 }


/* global */

.nav__container{

    /* padding-top:1em; */
    background-color:#e59a63;
}

.row{
    display: flex;
    justify-content: space-between;
    padding:.35em 0;
}

.nav__title{
    font-size:1.5em;
    margin:0;
}

.nav__title:hover{
    cursor:pointer;


}

.nav__list{
    list-style-type: none;
    font-family: 'Roboto',  sans-serif;
    font-size:1.2em;
    align-self:center;
    display: flex;
    margin:0;
}

.nav__list--item{
    padding:.2em;
}

.nav__list--item + .nav__list--item{
    margin-left:.75em;
}

.nav__list :hover{
    cursor:pointer;
    color:#793708;
    border-radius: .20em;

}


/* navigation */

.ingredient__list--item{
    font-family:'Roboto',  sans-serif;
    line-height: 2em;
}

.instraction{
    font-family:'Roboto',  sans-serif ;
    font-size:1em;
    line-height: 1.5em;
    word-spacing: .20em;
}

.instraction{
    margin-bottom: 2em;
    margin-top:0;
}

.chicken__img--2, .chicken__img--3{
    margin-bottom:2em;
}





@media (min-width:750px){
    .content-width{
        width:90%;
        max-width:90%;
        margin:0 auto;
    }

    .ingredient__list--item{
        font-family:'Roboto',  sans-serif;
        line-height: 1.5em;
    }
    
    .instraction{
        margin:0;
    }
    

    .ingredient{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding:3em 0  ;
        line-height: 1.5em;
    }

    .ingredient__title{
        margin-top:0;
    }

    .ingredient__intro--container{
        width:45%;
    }

    .ingredient__list--container{
        width: 40%;
    }

    /* section */
    .section__1{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        padding-bottom:45px;
        flex-direction: row-reverse;
    }

    .section__1--instraction--holder{
        width:40%;
        margin-right:0%;
    }

    .section__1--img{
        width:50%;
    }

    .section__2{
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        padding-bottom:50px;
    }
     

    .instraction__2--2{
        width:45%;
    }

    .instraction__2--3{
        width:45%;
    }
    
    
    .section__3{
        display: flex;
        justify-content:space-between;
    }

    .section__3--img{
        width: 50%;
    }
    
    .section__3--instraction--holder{
        width:40%;
    }

}

@media (min-width:1300px){

    .section__img{
        width:100%;
    }
    .ingredient{
        display:flex;
        flex-direction: row;
        justify-content: none;
    }
    
    .ingredient__intro--container{
        width:40%;

    }

    .ingredient__title{
        margin:1.5em  0 2em 0 ;
    }

    .ingredient__list--container{
        width:50%;
        line-height:50px;
        margin:0;
        padding:0;
    }

    .ingredient__list--item{
        line-height:3em;
    }

    /* section */

    .section__1{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        padding-bottom:50px;
    }

    .section__1--instraction--holder{
        width:50%;
        margin-right:0%;
    }

   .instraction__1{
        max-width:500px;
        margin-bottom: 3.5em;
    }

    .section__1--img{
        width:40%;
    }

    .section__2{
        display: flex;
        flex-direction:column;
        justify-content:space-between;
        padding-bottom:50px;
    }
     

    .instraction__2--2{
        width:40%;
        max-width:500px;
        margin-bottom:3em;
    }

    .instraction__2--3{
        width:50%;
    }
    
    
    
    .section__3{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }

    .section__3--img{
        width: 40%;
        margin-bottom: 2.5em;
    }
       .instraction__2--2{
        width:40%;
        max-width:500px;
    }
    
    .section__3--instraction--holder{
        width:50%;
    }

}